/**
 * @file
 * Styling of the Recurly payment widgets. Used for new subscriptions, one-time
 * payments and billing information updates.
 *
 * This CSS is based upon the Recurly.js default theme, but with overly
 * stylistic elements removed so as to make a more useful set of defaults that
 * may be added upon.
 */

/* Default styles for the div surrounding each field iframe.*/
.recurly-hosted-field {
  position: relative;
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 4px;
  height: 16px;
}
